stages:
  - test
  - integration

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_TLS_VERIFY: 1
  DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"

lint:
  stage: test
  image: golangci/golangci-lint:v1.49.0
  script:
    - golangci-lint run -v

test:
  stage: test
  image: golang:1.18-alpine
  services:
    - docker:20.10.14-dind
  variables:
    DB_HOST: docker
    DB_PORT: "5433"
  script:
    - apk add --no-cache docker docker-compose git make musl-dev gcc
    - go version
    - go test -v -p 1 ./...
